.font-aclonica{
     font-family: "Aclonica", sans-serif;
}

.font-dmsans{
    font-family: "DM Sans", sans-serif;
}

.font-berkshire-swash{
    font-family: "Berkshire Swash", serif;
}

.text-stroke{
    -webkit-text-stroke:1.5px #5C0D00;
    -webkit-text-fill-color:#B7351F;
}

.background{
    transform: translateZ(-10px) scale(2);
}

.background-image{
    background-image: url("../../../Asset/petaindo-part2.png");
    background-size: contain;
}

.wrapper{
    perspective: 15px;
}

.banner{
    transform-style: preserve-3d;
    z-index: -1;
}