.font-aclonica{
     font-family: "Aclonica", sans-serif;
}

@font-face {
    font-family:clash-display;
    src: url(../../../../../Asset/ClashDisplay-Variable.ttf);
}

.font-dmsans{
    font-family: "DM Sans", sans-serif;
}

.font-berkshire-swash{
    font-family: "Berkshire Swash", serif;
}

.font-clash-display{
    font-family: clash-display;
}

.font-jost{
    font-family: "Jost", sans-serif;
}

.text-stroke{
    -webkit-text-stroke:1.5px #5C0D00;
    -webkit-text-fill-color:#B7351F;
}

.background{
    transform: translateZ(-10px) scale(2);
}

.background-image{
    background-image: url("../../../../../Asset/petaindo-part2.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.wrapper{
    perspective: 15px;
}

.banner{
    transform-style: preserve-3d;
    z-index: -1;
}

.button-navigation .swiper-button-next::after {
    content: "";
}

.button-navigation .swiper-button-prev::after{
    content: "";
}

.swiper-button-prev .icon-prev svg{
    fill: #FFEDC6;
}

.swiper-button-disabled{
   background-color: transparent;
   border: 2px solid #B7351F;
   fill: #B7351F;
   opacity: 1;
}

.hidden-page{
    opacity: 0;
    transition: all 1s;
}

.show-page{
    opacity: 1;
    transition: all 1s;
}

@keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
}

.logos-slide{
    animation: 20s slide infinite linear;
}